{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h2>Voici les différentes annonces</h2>
    {{ dump(annonces) }}
    <ul>
        {% for annonce in annonces %}
            <li>
                <h3>{{ annonce.title }}</h3>
                <p>{{ annonce.description }}</p>
                <p>{{ annonce.price }} €</p>
                <p>{{ annonce.created_at }}</p>
                <p>{{ annonce.updated_at }}</p>
                <p>{{ annonce.cat_title }}</p>
            </li>
        {% endfor %}
</div>
{% endblock %}
