{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block main %}
<div class="example-wrapper">
    <h2>Voici les différentes annonces</h2>
    <ul>
        {% for annonce in annonces %}
            <li>
                <h3>{{ annonce.title }}</h3>
                <p>{{ annonce.price }} €</p>
                {# <h4>Description</h4> #}
                <p>{{ annonce.description }}</p>
                <p>{{ annonce.cat_title }}</p>
                <p>Annoncé crée le {{ annonce.created_at }} par {{ annonce.email }}</p>
                {% if annonce.updated_at %}
                    <p>{{ annonce.updated_at }}</p>
                {% endif %}
                <a href="{{ path('annonce_item', {'id': annonce.id}) }}">Voir l'annonce</a>
            </li>
        {% endfor %}
</div>
{% endblock %}
