{% extends 'base.html.twig' %}

{% block title %}Hello AnnonceController!{% endblock %}

{% block main %}
    <h1>Page Annonce</h2>
    {% for a in annonce %}
        <h2>{{ a.title }}</h2>
        <p>{{ a.description }}</p>
        <p>{{ a.price }}</p>
        {# <p>{{ a.date }}</p>
        <p>{{ a.photo }}</p>
        <p>{{ a.categorie }}</p>
        <p>{{ a.user }}</p> #}
    {% endfor %}
{% endblock %}
