{% extends 'base.html.twig' %}

{% block title %}Annonce de ...{% endblock %}

{% block main %}
    <h1>Mes annonces</h1>
    {% for a in annonce %}
        <div class="annonce_container">
            <h2>{{ a.title }}</h2>
            <p>{{ a.description }}</p>
            <p>{{ a.price }}</p>
            {% if a.email == user.email %}
                <div class="button_container">
                    <a class="button_modifier" href="{{ path('modifier_annonce', {'id': a.id}) }}">Modifier l'annonce</a>
                    <a class="button_supprimer" href="{{ path('supprimer_annonce', {'id': a.id}) }}">Supprimer l'annonce</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
