<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{{ asset('stylesheet/reset.css') }}""/>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('stylesheet/home.css') }}"/>
        {% endblock %}

        <title>{% block title %}Leboncoin{% endblock %}</title>

    </head>
    <body>
        {% block header %}
            <header>
                <nav>
                    <a href="{{ path('home_page') }}">Leboncoin</a>
                    <ul>
                        <li>
                            <a href="{{ path('deposer_annonce_page') }}">Déposer une annonce</a>
                        </li>
                        {% if app.user %}
                            <li>
                                <a href="{{ path('app_logout') }}">Se déconnecter</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('app_login') }}">Se connecter</a>
                            </li>
                            <li>
                                <a href="{{ path('app_register') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        {% endblock %}
            <div class="container">
                {% block main %}{% endblock %}
            </div>
        {% block footer %}
            <footer>
                <p>© 2020 Leboncoin</p>
            </footer>
        {% endblock %}
  </body>
</html>